PORT=7000
HOST="0.0.0.0"
NODE_ENV="development"
DATABASE_URL=""
DB_MAX_CONNECTIONS=30
DB_PREPARE="false"
BETTER_AUTH_URL="http://localhost:7000"
BETTER_AUTH_SECRET=""
TRUSTED_ORIGINS=""
INTERNAL_PROXY_SECRET=""
NEXT_PUBLIC_APP_URL=""
UPLOAD_MAX_BYTES=10485760
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
RESEND_API_KEY=""
EMAIL_FROM=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_ENDPOINT=""
AWS_BUCKET_NAME=""
AWS_PUBLIC_URL=""
AWS_FORCE_PATH_STYLE="false"
CHORCHA_TOKEN=""
BAI_API_KEY=""
BAI_BASE_URL=""
